services:
    notebook:
      container_name: notebook
      image: 'jupyter/pyspark-notebook:x86_64-python-3.11'
      restart: always
      environment:
        - GRANT_SUDO=yes
      ports:
        - "8888:8888"
      volumes:
        - ${PROJECT_ROOT}/notebooks:/home/jovyan/work